/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta de cores do Gasify */
  --gasify-fundo: #e4dbd2;
  --gasify-verde-claro: #60a851;
  --gasify-verde: #377f33;
  --gasify-verde-escuro: #112410;
  --gasify-cinza-claro: #848484;
  --gasify-cinza: #525252;
  --gasify-preto: #1D1D1F;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}